@using CarsharingSystem.Web.ViewModels.Comment
@using System.Linq
@model IList<CarsharingSystem.Web.ViewModels.Comment.CommentInfoViewModel>

@foreach (var comment in Model.Where(c => c.AnswerOnId == null))
{
    <div class="panel panel-primary">
        <div class="panel-heading"><span>@comment.Title</span> <span class="pull-right">@comment.CreatedOn.ToShortDateString()</span></div>
        <div class="panel-body">
            <div> @Html.Encode(comment.Content) </div>

            @if (comment.Answers != null)
            {

                foreach (var answer in comment.Answers)
                {
                    <div class="panel panel-info col-md-10 pull-right">
                        <div class="panel-heading">
                            <span>@answer.Title</span> <span class="pull-right">@answer.CreatedOn.ToShortDateString()</span>
                        </div>
                        <div class="panel-body">
                            @Html.Encode(answer.Content)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <a href=@("#credits" + comment.Id) class="toggle btn btn-primary col-md-offset-10">Нов отговор</a>
    <div class="well hidden" id=@("credits" + comment.Id)>
        @Html.Partial("../Comment/_AddNewCommentPartial", new AddCommentViewModel
       {
           TravelId = comment.TravelId,
           AnswerOnId = comment.Id
       })
    </div>
    <br/><br/>
}


