@model CarsharingSystem.Web.ViewModels.Travel.TravelInfoViewModel
@using CarsharingSystem.Common.GeocodeAPI
@{
    var cityNameFrom = GoogleApi.GetCityName(GoogleApi.GetGeographicDataByLocation(Model.LocationFrom.Latitude, Model.LocationFrom.Longitude).results.First());
    var cityNameTo = GoogleApi.GetCityName(GoogleApi.GetGeographicDataByLocation(Model.LocationTo.Latitude, Model.LocationTo.Longitude).results.First());

    var userPath = string.Format("\User\{0}", Uri.EscapeDataString(Model.DriverUserName));
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            photo
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <span><small>От:</small> <strong>@cityNameFrom</strong></span>
                </div>
                <div class="col-md-6">
                    <span class="pull-right"><small>До:</small> <strong>@cityNameTo</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span><small>На:</small> <strong>@Model.TravelDate.ToShortDateString()</strong></span>
                </div>
                <div class="col-md-6">
                    <span class="pull-right"><small>Водач:</small> <a href="@userPath">@Model.DriverUserName</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span><small>Св. места:</small> <strong>@Model.FreeSpaces</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
