@model CarsharingSystem.Web.ViewModels.Travel.AddTravelViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Travel", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
        <div class='col-md-10'>
            @*<input type='text' class="form-control" id='datetimepicker1' name="Date" />*@
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DestinationFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DestinationFrom, new { @class = "form-control"})
        </div>
        
    </div>

    <!---div class="row col-md-offset-3">
        <div class="panel panel-default col-md-8" id="AddressFromPanel">
            <div class="panel-body" id="AddressFrom">
            </div>
        </div>

    </!--div-->

    <div class="form-group">
        @Html.LabelFor(m => m.DestinationTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DestinationTo, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.VehicleId, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.VehicleId, Model.Vehicles, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Добави нов", "Add", "Vehicle", null, new { @class = "btn btn-default" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FreePlaces, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FreePlaces, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
        </div>
    </div>

    <input type="submit"/>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#Date').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });


        $('#DestinationFrom').focusout(function () {
            var param = "address=" + $('#DestinationFrom').val();

            jQuery.getJSON("/travel/ParseAddress", param, function (data) {
                var spanAddress = $("<span><strong>" + data.Address + "</strong></span>");
                $("#AddressFrom").append(spanAddress);
                $("#AddressFromPanel").show(1500);
                console.log(data);
            });

        });
    </script>

    @Scripts.Render("~/bundles/moment")
}

