@model CarsharingSystem.Web.ViewModels.User.EditUserProfileViewModel

@{
    ViewBag.Title = "Edit";
    var imgSrc = (@Model.UserPhoto == null) ? "/Content/Images/User.png" : "/Image/Get/@Model.UserPhoto.ImageId";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal bs-component", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(m => m.UserPhoto)
        </div>
        <div class="col-md-4">
            <img src="@imgSrc" />
        </div>
        <div class="col-md-1">
            <input type="file" name="NewUserPhoto" accept="image/*" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label", @for = "FirstName" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "FirstName" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label", @for = "LastName" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "LastName" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label", @for = "Gender" })

        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control", @id = "Gender" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label", @for = "datetimepicker1" })
        
        <div class='col-md-10'>
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @id = "datetimepicker1" })
            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label", @for = "PhoneNumber" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "PhoneNumber" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AboutMe, new { @class = "col-md-2 control-label", @for = "AboutMe" })

        <div class="col-md-10">
            @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control", @id = "AboutMe" })
        </div>
    </div>

    <input type="submit" />
}



@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>

    @Scripts.Render("~/bundles/moment")
}