@model CarsharingSystem.Web.ViewModels.User.UserInfoViewModel

@{
    ViewBag.Title = "title";
    var imgSrc = (@Model.UserPhoto == null) ? "/Content/Images/User.png" : string.Format("/Image/Get/{0}", Model.UserPhoto.ImageId);
}

<h2>title</h2>


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="@imgSrc" class="img-responsive" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <span><small>Име:</small> <strong>@Model.FirstName</strong></span> <br>
                <span><small>Потребителско име:</small> <strong>@Model.Username</strong></span>
            </div>
            <div class="row">
                <h4>Като шофьор:</h4>
                <div class="col-md-6">
                    <span><small>Бр. пътувания:</small> <strong>@Model.TravelCountAsDriver</strong></span>
                </div>
                <div class="col-md-6">
                    <span><small>Рейтинг:</small> <strong>@Model.RatingAsDriver</strong></span>
                </div>
            </div>

            <div class="row">
                <h4>Като пътник:</h4>
                <div class="col-md-6">
                    <span><small>Бр. пътувания:</small> <strong>@Model.TravelCountAsPassenger</strong></span>
                </div>
                <div class="col-md-6">
                    <span><small>Рейтинг:</small> <strong>@Model.RatingAsPassenger</strong></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.CanModify)//TODO: pass user id if admin modify profile.
        {
            <a href="/User/Edit" class="btn btn-primary">Редактирай</a>
        }
    </div>
</div>

<div class="bs-component">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#travels" data-toggle="tab" aria-expanded="true">Пътувания</a></li>
        <li class=""><a href="#travels-driver" data-toggle="tab" aria-expanded="false">Пътувания-шофьор</a></li>
        <li class=""><a href="#vehicles" data-toggle="tab" aria-expanded="false">Автомобили</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="travels">
        </div>
        <div class="tab-pane fade" id="travels-driver">
        </div>
        <div class="tab-pane fade" id="vehicles">
        </div>
    </div>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $("#travels").load('@(Url.Action("GetTravels", "Travel", null, Request.Url.Scheme))?id=@(Model.Username)&asDriver=false');
        $("#travels-driver").load('@(Url.Action("GetTravels", "Travel", null, Request.Url.Scheme))?id=@(Model.Username)&asDriver=true');
        $("#vehicles").load('@(Url.Action("GetVehiclesByUser", "Vehicle", null, Request.Url.Scheme))?userName=@(Model.Username)');
    });
    </script>
}